APP_NAME=ai-gamification-elearning-server
APP_ENV=development
APP_PORT=8080
APP_VERSION=1
APP_DEBUG=true

LOGGER_LEVEL=debug
LOGGER_ENCODING=console
LOGGER_OUTPUT=stdout
LOGGER_CALLER=true
LOGGER_STACKTRACE=false

SERVER_READ_TIMEOUT=10
SERVER_WRITE_TIMEOUT=30

CORS_ALLOW_CREDENTIALS=true
CORS_MAX_AGE_SECONDS=86400

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ai_gamification_elearning
DB_SSL_MODE=disable
DB_MAX_OPEN_CONNS=100
DB_MAX_IDLE_CONNS=10
DB_CONN_MAX_LIFETIME_SECONDS=300
