APP_NAME=ai-gamification-elearning-server
APP_ENV=development
APP_PORT=8080
APP_VERSION=1
APP_DEBUG=true

LOGGER_LEVEL=debug
LOGGER_ENCODING=console
LOGGER_OUTPUT=stdout
LOGGER_CALLER=true
LOGGER_STACKTRACE=false

SERVER_READ_TIMEOUT=10
SERVER_WRITE_TIMEOUT=30

CORS_ALLOW_CREDENTIALS=true
CORS_MAX_AGE_SECONDS=86400
